[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apiflask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
authlib = "*"
faker = "*"
captcha = "*"
flask-cache = "*"
flask-redis = "*"
flake8 = "*"

[dev-packages]
watchdog = "*"
faker = "*"
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.13"
